.linebreak {
     display: block;
}

.banniere {
     background-color: #245362;
     margin-top: 0px;
     margin-bottom: 0px;
}
.banniere {
  background-color: #245362;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 10px;
}
/* Parametres généraux*/
.liensutiles span{
  margin-left: 15px;
  color: #ffffff;
  font-size: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  margin-top: 0px;
  display: block;
}
.liensutiles div{
  padding-bottom: 10px;
  margin-top: 0px;
}

.lienbanniere {
  text-decoration: underline 0.5px;
  color: #7dbea6;
  margin-left: 15px;
  margin-top: 0px;
}
/*fin des liens*/

/*Début du à propos*/
.bannieretitle {
  margin-left: 15px;
  color: #ffffff;
  font-size: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  padding-top: 20px;
  display: block;
}

.bannieretextpropos {
  margin-left: 15px;
  color: #ffffff;
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.citationgael {
  font-style: italic;
}
.gaelcitation {
  font-weight: 500;
  font-size: 17px;
  padding-top: 1px;
  display: block;  
  color: #ffffff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-left: 15px;
}
/*fin du à Propos*/
/*Début de "nous joindre*/

.nousjoindrebannieretitle {
  margin-left: 15px;
  color: #ffffff;
  font-size: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  display: block;
  padding-top: 20px;
}

.iconcomment {
  width: 20px;
  height: auto;
  margin-left: 5px;
}
.iconmail {
  width: 20px;
  height: auto;
  margin-left: 5px;
}
.icondiscord {
  width: 20px;
  height: auto;
  margin-left: 5px;
}

.nousjoindre a{
  text-decoration: underline 0.5px;
  color: #7dbea6;
  margin-left: 15px;
}

.copyright p{
  text-align: center;
  color: #ffffff;
  font-size: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #1f4753;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 0px;
}