body {
     margin: 0px;
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.linebreak {
     display: block;
   }

main h1{
     text-align: center;
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     font-size: 40px;
     font-weight: 500;
}

main p{
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     text-align: left;
     font-size: 16px;
     padding-bottom: 30px;
     margin-left: 80px;
}

main a{
     color: black;
}
header {
     text-align: center;
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     font-size: 30px;
     font-weight: 500;
     padding-bottom: 50px;
}

.bold {
     font-weight: 600;
}
.underline {
     text-decoration: underline;
}

/* first Card for the carousel*/
.offrepremiumsite {
     text-align: center;
     border: 1px solid #cccfd1;
     border-radius: 10px;
     margin-left: 5px;
     background-color: rgb(218, 221, 224);
     padding-bottom: 20px;
} 


.cardboutiquetitle1 {
     border: 1px solid #cccfd1;
     border-top: 0px;
     border-left: 0px;
     border-right: 0px;
     border-top: 0px;
     border-top-left-radius: 10px;
     border-top-right-radius: 10px;
     background-color: rgb(218, 221, 224);
     margin-top: 0px;
     padding-top: 10px;
     padding-bottom: 10px;
     font-size: 25px;
     margin: 0px;
}

.priceone {
     border: 1px solid #cccfd1;
     border-top: 0px;
     border-left: 0px;
     border-right: 0px;
     padding-bottom: 10px;
     padding-top: 15px;
     background-color: #ffffff;
     margin: 0px;
}

.price {
     font-size: 50px;
     font-weight: 700;
}

.italic {
     font-style: italic;
     font-size: 13px;
}

.offrepremiumsite h3 {
     border: 1px solid #cccfd1;
     border-top: 0px;
     border-left: 0px;
     border-right: 0px;
     background-color: #ffffff;
     padding-bottom: 10px;
     padding-top: 10px;
     text-decoration: none;
     font-weight: 400;
     font-size: 19px;
     margin: 0px;
}

.textpremiumsite {
     border: 1px solid #cccfd1;
     border-top: 0px;
     border-left: 0px;
     border-right: 0px;
     padding-bottom: 10px;
     padding-top: 15px;
     background-color: #ffffff;
     margin: 0px;
}

.boutonboutique { 
     background-color: rgb(68,117,114);
     border-radius: 10px;
     padding: 10px;
     text-decoration: none;
     color: #ffffff;
}
.offrepremiumsite div{
     padding-top: 20px;
}

/*Card boutique 2*/

.offreprosite {
     text-align: center;
     border: 1px solid #456d79;
     border-radius: 10px;
     margin-left: 5px;
     background-color: rgb(35,80,95);
     padding-bottom: 20px; 
     margin-top: 10px;
}
.cardboutiquetitle2 {
     border: 1px solid #456d79;
     border-top: 0px;
     border-left: 0px;
     border-right: 0px;
     border-top: 0px;
     border-top-left-radius: 10px;
     border-top-right-radius: 10px;
     background-color: rgb(35,80,95);
     margin-top: 0px;
     padding-top: 10px;
     padding-bottom: 10px;
     font-size: 25px;
     margin: 0px;
     color: #ffffff;
}
.pricetwo {
     border: 1px solid #456d79;
     border-top: 0px;
     border-left: 0px;
     border-right: 0px;
     padding-bottom: 10px;
     padding-top: 15px;
     background-color: #eaeef0;
     margin: 0px;
}
.offreprosite h3 {
     border: 1px solid #456d796b;
     border-top: 0px;
     border-left: 0px;
     border-right: 0px;
     background-color: #ffffff;
     padding-bottom: 10px;
     padding-top: 10px;
     text-decoration: none;
     font-weight: 400;
     font-size: 19px;
     margin: 0px;
}
.textprosite {
     border: 1px solid #456d7975;
     border-top: 0px;
     border-left: 0px;
     border-right: 0px;
     padding-bottom: 10px;
     padding-top: 10px;
     background-color: #ffffff;
     margin: 0px;
}
.offreprosite a{
     color: #ffffff
}
.offreprosite div {
     padding-top: 20px;
}

/*card boutique website 3*/
.offrebasiquesite {
     text-align: center;
     border: 1px solid #456d79;
     border-radius: 10px;
     margin-left: 5px;
     background-color: rgb(108,177,179);
     padding-bottom: 20px; 
     margin-top: 10px;
}
.cardboutiquetitle3 {
     border: 1px solid #f1f8f8;
     border-top: 0px;
     border-left: 0px;
     border-right: 0px;
     border-top: 0px;
     border-top-left-radius: 10px;
     border-top-right-radius: 10px;
     background-color: rgb(108,177,179);
     margin-top: 0px;
     padding-top: 10px;
     padding-bottom: 10px;
     font-size: 25px;
     margin: 0px;
     color: #000000;
}
.pricethree {
     border: 1px solid #456d79;
     border-top: 0px;
     border-left: 0px;
     border-right: 0px;
     padding-bottom: 10px;
     padding-top: 15px;
     background-color: #f1f8f8;
     margin: 0px;
}
.offrebasiquesite h3 {
     border: 1px solid #456d796b;
     border-top: 0px;
     border-left: 0px;
     border-right: 0px;
     background-color: #ffffff;
     padding-bottom: 10px;
     padding-top: 10px;
     text-decoration: none;
     font-weight: 400;
     font-size: 19px;
     margin: 0px;
}
.textbasiquesite {
     border: 1px solid #456d7975;
     border-top: 0px;
     border-left: 0px;
     border-right: 0px;
     padding-bottom: 10px;
     padding-top: 10px;
     background-color: #ffffff;
     margin: 0px;
}
.offrebasiquesite a{
     color: #ffffff
}
.offrebasiquesite div{
     padding-top: 20px;
}

/*Block Text (pre-config)*/
.imagediscord {
     width: auto;
     height: 100px;
} 

.tmprcpdsc {
     display: flex;
     align-items: center;
     gap: 10px;
     border: 1px solid #2d5f6d;
     border-radius: 10px;
     background-color: #d6ebf1;
     color: #2d5f6d;
     /*Make the box not take the whole page*/
     width: max-content;
     max-width: 100%;
     padding-right: 10px;
     padding-left: 10px;
     text-align: left;
     font-size: 17px;
     margin-left: 10px;
     margin-top: 25px;
}

.fasttime {
     height: 50px;
     width: auto;

}

.boutonpage {
     background-color: rgb(96, 167, 162);
     border-radius: 10px;
     padding: 10px;
     text-decoration: none;
     color: #000000;
     margin-left: 10px;
     text-align: center;
}
.boutonpage:hover {
     background-color: rgb(72, 126, 122);
     color: #ffffff;
}

.p1 {
     margin-left: 10px;
     font-size: 20px;
     margin-top: 5px;
     margin-bottom: 0px;
}
.p2 {
     margin-left: 10px;
     font-size: 20px;
     margin-top: 2px;
}

.preconfigdiscord h2{
     font-size: 30px;
     margin-bottom: 0px;
     padding-bottom: 0px;
     margin-left: 10px;
}

.imagediscord {
     width: auto;
     height: 250px;
     margin-top: 30px;
     margin-left: 15px;
}


.imagemc {
     width: auto;
     height: 250px;
     margin-top: 100px;
     margin-left: 15px;
}

.preconfigmc h2{
     font-size: 30px;
     margin-bottom: 0px;
     padding-bottom: 0px;
     margin-left: 10px;
}

.decoffres {
     text-decoration: underline;
     font-weight: 400;
     font-size: 27px;
     margin-left: 10px;
}

.tmprcpmc {
     display: flex;
     align-items: center;
     gap: 10px;
     border: 1px solid #2d5f6d;
     border-radius: 10px;
     background-color: #d6ebf1;
     color: #2d5f6d;
     /*Make the box not take the whole page*/
     width: max-content;
     max-width: 100%;
     margin-top: 25px;
     margin-left: 10px;
     padding-left: 10px;
     padding-right: 10px;
}


.autreboutique h2{
     margin-left: 10px;
     font-size: 30px;
     color: #000000;
}

.autreboutique p{
     margin-left: 10px;
     color: #000000;
}

.totservices {
     display: block;
     font-size: 23px;
     margin-top: 10px;
}
.totservices a {
     text-decoration: underline 2px solid #2d5f6d;
     margin-top: 0px;
}
.plusdetailsun {
     margin-bottom: 0px;
     margin-top: 0px;
     font-weight: 500;
     text-decoration: underline 2px solid;
     font-size: 18px;
     padding-bottom: 0px;
}

.autreboutique div{
     margin-left: 10px;
     color: #000000;
     margin-top: 0px;
     margin-bottom: 0px;
     padding-bottom: 0px;
     padding-top: 0px;
}

.autreboutique a{
     color: #000000;
     margin-top: 0px;
}





/*Template à copier coller*/
     /*Termplate gris*/
     .tableaugris {
          text-align: center;
          border: 1px solid #cccfd1;
          border-radius: 10px;
          margin-left: 5px;
          background-color: rgb(218, 221, 224);
          padding-bottom: 20px; 
          margin-bottom: 30px;
     }
     .titletbgris {
          border: 1px solid #cccfd1;
          border-top: 0px;
          border-left: 0px;
          border-right: 0px;
          border-top: 0px;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
          background-color: rgb(218, 221, 224);
          margin-top: 0px;
          padding-top: 10px;
          padding-bottom: 10px;
          font-size: 25px;
          margin: 0px;
     }
     .prixtbgris {
          border: 1px solid #cccfd1;
          border-top: 0px;
          border-left: 0px;
          border-right: 0px;
          padding-bottom: 10px;
          padding-top: 15px;
          background-color: #ffffff;
          margin: 0px;
     }
     .prixgristb {
          font-size: 50px;
          font-weight: 700;
     }
     .tableaugris h3 {
          border: 1px solid #cccfd1;
          border-top: 0px;
          border-left: 0px;
          border-right: 0px;
          background-color: #ffffff;
          padding-bottom: 10px;
          padding-top: 10px;
          text-decoration: none;
          font-weight: 400;
          font-size: 19px;
          margin: 0px;
     }
     .linestbgris {
          border: 1px solid #cccfd1;
          border-top: 0px;
          border-left: 0px;
          border-right: 0px;
          padding-bottom: 6px;
          padding-top: 10px;
          background-color: #ffffff;
          margin: 0px;
     }
     .linetbgrisspecial {
          font-style: italic;
     }
     .tableaugris div {
          padding-top: 20px;
     }
     
     /*template dark*/
          .tableaudark {
               text-align: center;
               border: 1px solid #456d79;
               border-radius: 10px;
               margin-left: 5px;
               background-color: rgb(35,80,95);
               padding-bottom: 20px; 
               margin-bottom: 30px;
          }
          .titletbdark {
               border: 1px solid #456d79;
               border-top: 0px;
               border-left: 0px;
               border-right: 0px;
               border-top: 0px;
               border-top-left-radius: 10px;
               border-top-right-radius: 10px;
               background-color: rgb(35,80,95);
               margin-top: 0px;
               padding-top: 10px;
               padding-bottom: 10px;
               font-size: 25px;
               margin: 0px;
               color: #ffffff;
          }
          .prixtbdark {
               border: 1px solid #456d79;
               border-top: 0px;
               border-left: 0px;
               border-right: 0px;
               padding-bottom: 10px;
               padding-top: 15px;
               background-color: #eaeef0;
               margin: 0px;
          }
          .prixdarktb {
               font-size: 50px;
               font-weight: 700;
          }
          .tableaudark h3 {
               border: 1px solid #456d796b;
               border-top: 0px;
               border-left: 0px;
               border-right: 0px;
               background-color: #ffffff;
               padding-bottom: 10px;
               padding-top: 10px;
               text-decoration: none;
               font-weight: 400;
               font-size: 19px;
               margin: 0px;
          }
          .linestbdark {
               border: 1px solid #456d7975;
               border-top: 0px;
               border-left: 0px;
               border-right: 0px;
               padding-bottom: 6px;
               padding-top: 10px;
               background-color: #ffffff;
               margin: 0px;
          }
          .linetbdarkspecial {
               color: #ffffff;
               font-style: italic;
          }
          .tableaudark div {
               padding-top: 20px;
          }
     
     /*Template bright*/
     .tableaubright {
          text-align: center;
          border: 1px solid #456d79;
          border-radius: 10px;
          margin-left: 5px;
          background-color: rgb(108,177,179);
          padding-bottom: 20px; 
          margin-bottom: 30px;
     }
     .titletbbright {
          border: 1px solid #f1f8f8;
          border-top: 0px;
          border-left: 0px;
          border-right: 0px;
          border-top: 0px;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
          background-color: rgb(108,177,179);
          margin-top: 0px;
          padding-top: 10px;
          padding-bottom: 10px;
          font-size: 25px;
          margin: 0px;
          color: #000000;
     }
     .prixtbbright {
          border: 1px solid #456d79;
          border-top: 0px;
          border-left: 0px;
          border-right: 0px;
          padding-bottom: 10px;
          padding-top: 15px;
          background-color: #f1f8f8;
          margin: 0px;
     }
     .prixbrighttb {
          font-size: 50px;
          font-weight: 700;
     }
     .tableaubright h3 {
          border: 1px solid #456d796b;
          border-top: 0px;
          border-left: 0px;
          border-right: 0px;
          background-color: #ffffff;
          padding-bottom: 10px;
          padding-top: 10px;
          text-decoration: none;
          font-weight: 400;
          font-size: 19px;
          margin: 0px;
     }
     .linestbbright {
          border: 1px solid #456d7975;
          border-top: 0px;
          border-left: 0px;
          border-right: 0px;
          padding-bottom: 6px;
          padding-top: 10px;
          background-color: #ffffff;
          margin: 0px;
     }
     .linetbbrightspecial {
          color: #000000
     }
     .tableaubrightdiv {
          padding-top: 20px;
     }


/*Hover et animations*/
.boutonboutique:hover {
     background-color: rgb(57, 99, 96);
}
