
.barrerech {
     top: 10px;
     margin-top: 10px;
     position: sticky;
     z-index: 3;
}
.signaturebarrerech{
     width: 100px;
     height: auto;
}
.barrederecherche {
     background-color: #ffffff;
     box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
     /*0 = shadow Left/right, 2 = Shadow up/down 5 = blur radius (to create soft edges, and then color + 0.2 is opacity*/
     border-radius: 120px;

}
.avisrech {
     text-decoration: none;
     color: black;
     position: absolute;
     margin: 10px;
     margin-left: -10px;
     background-color: #ffffff;
     padding: 10px;
     padding-left: 15px;
     padding-right: 15px;
     border-radius: 20px;
}

.avisrech:hover {
     background-color: rgb(30, 137, 158);
     text-decoration: underline;
}

.indexrech {
     text-decoration: none;
     color: black;
     position: absolute;
     margin: 10px;
     margin-left: 64px;
     background-color: rgb(30, 137, 158);
     padding: 10px;
     padding-left: 15px;
     padding-right: 15px;
     border-radius: 20px;
}

.indexrech:hover {
     text-decoration: underline 1px;
     color: black;
     background-color: rgb(30, 137, 158);
}
.boutiquerech {
     text-decoration: none;
     color: black;
     position: absolute;
     margin: 10px;
     margin-left: 200px;
     background-color: #ffffff;
     padding: 10px;
     padding-left: 15px;
     padding-right: 15px;
     border-radius: 20px;
}

.boutiquerech:hover {
     text-decoration: underline 1px;
     color: black;
     background-color: rgb(30, 137, 158);
}

.imagecommentrech {
     width: 40px;
     height: auto;
     transform: translate(320px, -6px);
     
}

