.star-rating1 {
     font-size: 30px;
     color: #ccc; /* couleur par défaut */
   }
   
   .star-rating1:hover {
     color: #666; /* couleur sur hover */
   }
   
   .star-rating1[data-rating="1"] {
     color: #FF0000; /* rouge pour 1 étoile */
   }
   
   .star-rating1[data-rating="2"] {
     color: #FF9900; /* orange pour 2 étoiles */
   }
   
   .star-rating1[data-rating="3"] {
     color: #FFFF00; /* jaune pour 3 étoiles */
   }
   
   .star-rating1[data-rating="4"] {
     color: #00CC00; /* vert pour 4 étoiles */
   }
   
   .star-rating1[data-rating="5"] {
     color: #dfc44d; /* bleu pour 5 étoiles */
   }
